<nav class=" bg-blue-400 flex align-center uppercase justify-center gap-2 py-5">
  <a class="nav-link" href="/">Home</a>
  <a class="nav-link" href="/about">About</a>
</nav>

<style>
  .nav-link {
    @apply text-lg text-stone-100 font-bold hover:scale-105
  }
</style>