---
import heroImg from '../../public/pexels-andrea-piacquadio-3760809.jpg'
---

<div class="stacked select-none">
  <img class="media h-full max-h-screen w-full object-cover" src={heroImg} alt="">
  <h1 class="font-bold text-blue-900">Welcome to <span class="text-gradient">my Astro</span> site</h1>
</div>

<style>
 .stacked {
  display: grid;
  place-items: center;
  isolation: isolate;
 }

 .stacked > * {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
 }

 .stacked > .media {
  z-index: -1;
 }

 .text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}
</style>